
.nav_2{
    background-color: #36A0CD;
    margin-bottom: 80px;
  .breadcrumb{
padding: 20px;
background-color: #36A0CD !important;
li{
  a{
    color: white;
    padding: 7px;
    font-size: 12px;
    text-decoration: none;
  }
}
  }
}
.about_h1{
  color: #36A0CD;
  font-size: 40px;
}
.about_p{
  color: #4D4D4D;
  font-size: 18px;
  margin-bottom: 120px;
}
.about_img{
  height: 340px;
  width: 251px;
}
.sertifkart_bottom{
  margin-bottom: 80px;
}